body {
    background-color: #F5F5F5;
}

.no-scroll {
    overflow: hidden;
}

.title-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    height: 40px;
    width: calc(100% - 17px);
    background-color: #F5F5F5;
    transition: transform 0.3s ease;
    z-index: 1000;
}

#title {
    font-size: 18px;
    font-weight: bold;
    padding-left: 10px;
}

.no-connection {
    display: none;
    align-items: center;
    color: #7E7E7E;
}

.no-connection .wifi-icon {
    width: 20px;
    height: 20px;
    margin-right: 5px;
    filter: invert(0.6) sepia(0) saturate(0) hue-rotate(180deg) brightness(0.8) contrast(1);
}

.help-button {
    margin-right: auto;
    padding: 0 10px;
    background: none;
    border: none;
    font-size: 24px;
    align-items: center;
    justify-content: center;
}

.help-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2000;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.2s ease;
}

.help-overlay.show {
    display: flex;
    opacity: 1;
}

.help-overlay.hide {
    opacity: 0;
}

.help-menu {
    position: relative;
    width: 75vw;
    max-width: 600px;
    background-color: white;
    padding: 0 10px;
    border-radius: 15px;
    text-align: left;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.close-help {
    position: absolute;
    top: 15px;
    right: 12px;
    background: none;
    border: none;
    font-size: 20px;
    color: #ccc;
}

.help-content {
    max-height: 85vh;
    padding: 0 20px;
    overflow-y: auto;
}

.help-content p {
    font-size: 26px;
}

.help-content ul {
    padding-left: 0;
    list-style-type: none;
}

.help-content ul li {
    font-weight: bold;
    font-size: 17px;
}

.help-content ul ul li {
    font-weight: normal;
    font-size: 16px;
}

.help-content ul ul ul li {
    color: #777777;
    font-weight: normal;
    font-size: 14px;
}

.help-content ul ul ul li a {
    color: inherit;
}

#apps-list {
    margin-top: 100px;
}

.search-menu-container {
    display: flex;
    position: fixed;
    top: 40px;
    height: 50px;
    width: calc(100% - 17px);
    z-index: 1000;
    transition: transform 0.3s ease;
}

.search-card {
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    border-radius: 50px;
    left: 0;
    height: calc(100% - 2px);
    width: calc(100% - 60px);
    position: absolute;
}

.search-icon {
    position: absolute;
    left: 18px;
    font-size: 15px;
    z-index: 1000;
}


.search-input {
    position: absolute;
    border: none;
    font-size: 17px;
    outline: none;
    left: 10px;
    padding: 0 30px;
    width: calc(100% - 10);
}

.clear-btn {
    position: absolute;
    color: #ccc;
    right: 10px;
    border: none;
    background: none;
    font-size: 18px;
    cursor: pointer;
    display: none;
    z-index: 10;
}

.menu {
    display: flex;
    right: 0;
    position: absolute;
    height: 100%;
}

.menu-toggle {
    display: none;
}

#menu-button {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    width: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-icon {
    display: inline-block;
    transition: transform 0.2s ease;
}

.menu-icon.menu-open {
    transform: rotate(90deg);
}

.menu-icon.menu-closed {
    transform: rotate(0deg);
}

.menu-options {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    display: none;
    position: absolute;
    padding: 5px;
    top: 110%;
    right: 0;
    transform: translateX(120%);
    transition: transform 0.2s ease;
    width: auto;
    white-space: nowrap;
}

.menu-options.visible {
    display: block;
    transform: translateX(0);
}

.menu-options.hidden {
    transform: translateX(140%);
}

.menu-options ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu-options li {
    cursor: default;
    padding: 15px 12px;
    text-align: left;
}

.card {
    background-color: white;
    border: none;
    border-radius: 8px;
    margin-bottom: 10px;
    outline: none;
    padding: 15px;
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.name {
    display: inline-block;
    margin: 0;
    max-width: calc(100% - 30px);
    overflow-wrap: break-word;
    word-break: break-word;
}

.checkbox {
    margin-left: auto;
}

.prompt {
    position: fixed;
    bottom: 0;
    left: 10px;
    background-color: #4CAF50;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    color: white;
    font-size: 15px;
    padding: 5px 15px;
    z-index: 1000;
    transform: translateY(100%);
    transition: transform 0.5s ease;
    white-space: nowrap;
}

.prompt.visible {
    animation: YbounceIn 0.4s forwards;
}

.prompt.hidden {
    animation: YbounceOut 0.4s forwards;
}

.prompt.error {
    background-color: #f44336;
}

@keyframes YbounceIn {
    0% {
        transform: translateY(100%);
    }

    50% {
        transform: translateY(-80%);
    }

    100% {
        transform: translateY(-60%);
    }
}

@keyframes YbounceOut {
    0% {
        transform: translateY(-60%);
    }

    50% {
        transform: translateY(-80%);
    }

    100% {
        transform: translateY(100%);
    }
}

.floating-card {
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: -50px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 3;
}

.floating-btn {
    background-color: #007bff;
    border: none;
    box-shadow: 0 4px 8px #0003;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 17px;
    font-size: 17px;
    transition: transform 0.3s ease-in-out;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

.loading {
    color: #6E6E6E;
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 164px);
    font-size: 24px;
}

.acknowledgment {
    color: #6E6E6E;
    padding: 20px;
    text-align: center;
    font-size: 14px;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #121212;
        color: #eee;
    }

    .title-container {
        background-color: #121212;
    }

    .help-button {
        color: #fff;
    }

    .help-menu,
    .card,
    .search-input,
    .search-card {
        background-color: #343434;
    }

    .search-card {
        border: 1px solid #6E6E6E;
    }

    .search-input {
        color: white;
    }

    .menu-options,
    #menu-button {
        background-color: #343434;
        border: 1px solid #6E6E6E;
    }
}