.about-overlay {
    z-index: 1100;
    align-items: center;
}

.about-menu {
    position: relative;
    width: calc(90vw - 60px);
    max-width: 800px;
    background-color: var(--bg-secondary);
    border-radius: 15px;
    padding: 30px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.link,
.about-menu p {
    margin: 0;
    font-size: 16px;
    text-align: left;
}

#module_name_line1 {
    font-size: 26px;
    user-select: none;
}

#module_name_line2 {
    font-size: 22px;
    user-select: none;
}

#authored {
    font-size: 14px;
    user-select: none;
}

#disclaimer {
    font-family: serif;
    width: calc(100% - 20px);
    padding: 8px 10px;
    border-radius: 10px;
    background-color: var(--border-color);
}

#acknowledgment {
    font-weight: bold;
    font-size: 18px;
    user-select: none;
}

.link-icon {
    display: inline-block;
    font-style: normal;
    border-radius: 8px;
    box-sizing: border-box;
    margin-bottom: 5px;
    transition: background-color 0.2s ease;
}

.link-icon svg {
    padding-bottom: 3px;
    vertical-align: bottom;
    height: 17px;
}

#telegram {
    font-size: 18px;
    padding: 3px 10px;
    background-color: #38A7ED;
    color: #fff;
    fill: #fff;
    user-select: none;
}

#github {
    font-size: 18px;
    padding: 3px 10px;
    background-color: #606060;
    color: #fff;
    fill: #fff;
    user-select: none;
}

#link-text {
    font-size: 17px;
    font-weight: bold;
}