.card-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

#apps-list {
    margin-top: 100px;
    flex-direction: column;
}

.update-card {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #DCDCDC;
    border: none;
    border-radius: 10px;
    margin: 0 auto;
    margin-bottom: 10px;
    outline: none;
    padding: 12px;
    width: calc(100% - 30px);
    max-width: 900px;
    position: relative;
    overflow: hidden;
}

#update-available {
    font-size: 20px;
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 0;
}

#redirect-to-release {
    margin-top: 5px;
    margin-bottom: 15px;
}

.card {
    background-color: #fff;
    border: none;
    border-radius: 12px;
    margin: 0 auto;
    margin-bottom: 10px;
    outline: none;
    padding: 12px;
    width: calc(100% - 30px);
    max-width: 900px;
    transition: background-color 0.2s ease;
    position: relative;
    overflow: hidden;
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.name {
    display: inline-block;
    margin: 0;
    font-size: 15.5px;
    max-width: calc(100% - 30px);
    overflow-wrap: break-word;
    word-break: break-word;
    user-select: none;
}

.checkbox-wrapper {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-left: auto;
}

.checkbox {
    opacity: 0;
    position: absolute;
    width: 0;
    height: 0;
}

.custom-checkbox {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100%;
    border: 2px solid #ccc;
    border-radius: 4px;
    transition: border-color 1s ease, transform 0.3s ease, background-color 0.4s cubic-bezier(0.22, 1, 0.36, 1);
    box-sizing: border-box;
}

.tick-symbol {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    opacity: 0;
    transition: transform 0.2s ease-out, opacity 0.3s ease;
}

.checkbox:checked + .custom-checkbox {
    border-color: #007bff;
    background-color: #007bff;
    transition: border-color 0.1s ease;
    animation: border-bounce 0.3s ease-out;
}

.checkbox:checked + .custom-checkbox .tick-symbol {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
}

@keyframes border-bounce {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.8);
    }
    100% {
        transform: scale(1);
    }
}

@media (prefers-color-scheme: dark) {
    .card {
        background-color: #343434;
    }

    .update-card {
        background-color: #4D4D4D;
    }
}