.boot-hash-overlay {
    z-index: 1200;
}

.boot-hash-card {
    position: fixed;
    top: 10%;
    width: calc(90% - 60px);
    max-width: 300px;
    height: fit-content;
    background-color: var(--bg-secondary);
    border-radius: 18px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.boot-hash-title {
    width: 100%;
    font-size: 26px;
    text-align: center;
    user-select: none;
}

.boot-hash-input {
    width: 100%;
    height: 100px;
    font-size: 16px;
    padding: 10px;
    color: var(--text-primary);
    background-color: var(--bg-primary);
    border: 1px solid var(--border-color);
    border-radius: 10px;
    box-sizing: border-box;
    outline-color: var(--btn-primary);
    resize: none;
}

.boot-hash-save-button {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 12px;
    font-size: 20px;
    font-weight: bold;
    background-color: var(--btn-primary);
    color: var(--btn-primary-text);
    position: relative;
    overflow: hidden;
    user-select: none;
}